.home-facade{
    color: white;
    display: flex;
    height: 400px;
    background-color: #1e201e;
    background-image: url("../../../public/images/home-facade-background.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
}